{% extends 'layout.html' %}

{% block content %}
    <div class="column content">
        <div class="columns m-0 is-desktop">
            <div class="column">
                <div class="container box is-fluid p-2">
                    <table id="main-content-list" class="table is-narrow is-hoverable is-fullwidth">
                        <tr>
                            <th style="min-width: 80%">Available Printer</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for printer in printer_list %}
                            <tr>
                                <td>{{ printer }}</td>
                                <td><a class="button is-small" href="{{ url_for('print_testpage', page_format='bon_80', printer_name=printer) }}">Testprint Bon 80</a></td>
                                <td><a class="button is-small" href="{{ url_for('print_testpage', page_format='a4', printer_name=printer) }}">Testprint A4</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
