{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/update.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4 is-flex is-flex-direction-column is-align-self-center">
        <div class="box has-text-centered">
            <div class="mb-4">Updating Connector</div>
            <progress class="progress is-small is-primary" max="100">30%</progress>
            <div id="update_state"></div>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
